.saldo {
  display: flex;
  flex-direction: column;
  gap: 12px;

  border: 1px solid var(--color-grey-2);
  padding: 20px 24px;
  margin: 24px 0;
}

.saldo > div {
  display: flex;
  justify-content: space-between;
}

.saldo > div > p {
  color: var(--color-primary);
}

@media screen and (min-width: 769px) {
  .saldo {
    width: 363px;
  }
}
